body{
	background: white;
	font-family: 'Roboto', sans-serif;
}

h1{
	color:red;
}

a{ 
	color:red; 
}

h1{
	font-family: 'Slabo 27px', serif;
}

p:hover, a:hover {
    background-color: yellow;
}

#intro{ 
	padding: 20px;
	border: 1px solid red;
 }

 #header{
 	margin: 5px;
 	position: fixed;
 	/*border: 1px solid blue; */
 	padding: 2px;
 	background: yellow;
 	color: white;
 	max-width: 50%;
}

.explanation{
	max-width: 60%;
	text-align: center;
	margin: 10px;

}

img.resize{
	margin: 10px;
    max-width: 65%;
 }

 img.floater{
	position:fixed
	width: 20px;
}

 #topleft{
 	margin-top: 20px;
 	margin-left: 15px;
 }

 #topright{
 	margin-top: 40px;
 	margin-right: 15px;
 }

